<div>
  <mat-card class="content">
    <h3>Dodaj nov apartment</h3>
    <mat-card-content>
          <div>
            <mat-form-field>
              <mat-label>Broj sobe</mat-label>
              <input matInput required type="number" min="0" max="100" #room>
            </mat-form-field>
          </div>
        <div>
          <mat-form-field>
            <mat-label>Sprat</mat-label>
            <input matInput required type="number" min="0" #floor>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Cena</mat-label>
            <input matInput required type="number" min="0" #price>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Opis</mat-label>
            <input matInput required type="text" #desc>
          </mat-form-field>
        </div>
        <div>
          <button type="submit" mat-stroked-button color="primary" (click)="addApartment(room.value, floor.value, price.value, desc.value)">Sacuvaj</button>
        </div>
    </mat-card-content>
  </mat-card>
</div>
