node_modules
.idea
.vscode
cmake-build-debug
CMakeLists.txt

build
out
cmake-build-debug
dist
target

.idea
.vscode
.vs

__pycache__

*.rar
*.zip
*.tar*

# MS and Libre office backup
.~*

# Powerdesigner backupfiles
~*.docx

# Powerdesigner backup files
*.oob
*.eab
*.rqb
*.pjb

# Visaul Paradigm backup files
*.vpp.bak_????
*.vpp.lck
