<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Save new user</h1>
    <form action="#" th:action="@{/users}" th:object="${user}" th:method ="POST">
        <input type="text" th:field="*{username}" placeholder="Username" class="form-control col-4">
        <input type="password" th:field="*{password}" minlength="4" placeholder="Password" class="form-control col-4">
        <button type="submit" class="btn btn-info col-2">Create a new user</button>
    </form>
</div>
</body>
</html>