*{
  margin: 0;
  padding: 0;
}
/*---------Navigation--------*/
#nav-bar{
  position: sticky;
  top: 0;
  z-index: 10;
}
.navbar-brand img{
  height: 70px;
  padding-left: 30px;
}
.navbar-nav li{

  padding: 0 10px;

}
.navbar-nav li a{

  float: rigth;
  text-align: left;
}
#nav-bar ul li a:hover{
  color: #007bff!important;
}
.navbar{
    background: #fff;
}
.navbar-toggler{
  border: none!important;
}
.nav-link{
  color: #555!important;
  font-weight: 600;
  font-size: 16px;
}
/*-----Slider-----*/
#slider{
  width: 100%;

}
.carousel-caption{
  top: 50%;
  transform: translateY(-50%);
  bottom: initial!important;
}
.carousel-caption h5{
  color: #fff;
  font-size: 42px;
}
.about-content img{
  margin-left: 120%;
  margin-top: -80%;
}