<div class="crud-buttons">
  <h2>Dodajte</h2>
  <button mat-fab color="primary" (click)="openSaveDialog()">
    <mat-icon>add</mat-icon>
  </button>
</div>
<div class="header">
  <h2>Pregled dostupnih apartmana</h2>
</div>
<mat-card class="content" *ngFor="let apartment of apartment$ | async">
  <mat-card-content>
    <mat-card-title>Broj sobe: {{apartment?.room}}</mat-card-title>
    <mat-card-subtitle>Sprat: {{apartment?.floor}}</mat-card-subtitle>
    <p>Opis sobe: </p>
    <p>{{apartment?.desc}}</p>
  </mat-card-content>
  <mat-card-content class="section">
    <p>Cena: <span class="text">${{apartment?.price}}</span></p>
<!--    <button mat-flat-button color="primary" (click)="openBuyDialog(apartment)">Kupi</button>-->
  </mat-card-content>
</mat-card>
