.header {
  color: white;
  text-align: center;
  margin-bottom: 4em;

  h2 {
    font-size: 28px;
  }
}

.content {
  width: 50%;
  height: auto;
  display: block;
  margin: 0 auto 2em;
  position: relative;

  .section {
    text-align: center;

    .text {
      color: palevioletred;
    }

    button {
      float: right;
      top: -2em;
      margin-left: 1em;
    }
  }
}
.crud-buttons {
  text-align: center;
  margin-bottom: 3em;
  color: white;

  button {
    margin-top: 1em;
    margin-left: 1em;
  }
}
