<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <a class="btn btn-secondary" href="http://localhost:8080/logout">Logout</a>
    <h1>Save user</h1>
    <form action="#" th:action="@{/saveUser}" th:object="${user}" th:method ="POST">
        <input type="hidden" th:field="*{id}">
        <input type="text" th:field="*{username}" placeholder="Username" class="form-control col-4">
        <input type="password" th:field="*{password}" placeholder="Password" class="form-control col-4">
        <button type="submit" class="btn btn-info col-2">Save user</button>
    </form>
</div>
</body>
</html>